# Persistent Storage
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: couchdb-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: couchdb
  namespace: default
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: couchdb
  template:
    metadata:
      labels:
        app: couchdb
    spec:
      securityContext:
        fsGroup: 1000
      containers:
      - name: couchdb
        image: couchdb:3.5.1
        env:
        - name: COUCHDB_USER
          valueFrom:
            secretKeyRef:
              name: obsidian-secrets
              key: COUCHDB_USER
        - name: COUCHDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: obsidian-secrets
              key: COUCHDB_PASSWORD
        ports:
        - containerPort: 5984
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "1000m"
        volumeMounts:
        - name: couchdb-data
          mountPath: /opt/couchdb/data
      volumes:
      - name: couchdb-data
        persistentVolumeClaim:
          claimName: couchdb-pvc
---
# The Service
apiVersion: v1
kind: Service
metadata:
  name: obsidian-sync-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: couchdb
  ports:
    - port: 5984
      targetPort: 5984
      protocol: TCP