apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-plugin
  namespace: default
spec:
  interval: 1h
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: "0.30.0" # You can use ">=0.26.0" or a specific version
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  values:
    # This creates the 'gpu.intel.com/i915' resource
    sharedDevNum: 5  # Allow up to 5 containers to share the GPU (useful if you add Tdarr later)
    nodeSelector:
      gpu-intel: "true" # Only run on nodes we labeled (your gmktec01)