apiVersion: v1
kind: Secret
metadata:
  name: n8n-db-secrets
type: Opaque
stringData:
  # The database software needs these
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: <password>
  POSTGRES_DB: n8n
---
apiVersion: v1
kind: Secret
metadata:
  name: n8n-secrets
type: Opaque
stringData:
  N8N_ENCRYPTION_KEY: <key>
  N8N_URL: <url>
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secrets
type: Opaque
stringData:
  TUNNEL_TOKEN: <token>
---
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-secrets
type: Opaque
stringData:
  VW_URL: <url>
---
apiVersion: v1
kind: Secret
metadata:
  name: reolink-secrets
type: Opaque
stringData:
  RL_BACKDOOR: <secret>
---
apiVersion: v1
kind: Secret
metadata:
  name: siyuan-secrets
type: Opaque
stringData:
  AUTH_CODE: <code>
  SIYUAN_URL: <url>
---